@font-face {
    font-family: Product;
    src: url("fonts/Product Sans Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Product;
    src: url("fonts/Product Sans Bold.ttf");
    font-weight: bold;
}
body {
    background:black;
    color:white;
    font-family:Product;
    margin: 0;
    overflow: hidden;
}
section{
  display: none;
  position: absolute;
  top:0;
  left:0;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  margin: 2rem;
  overflow: hidden;
}
body.offline section#offline, body.main section#main, body.timer section#timer{
  display: block;
}
header{
  overflow: auto;
  margin-bottom: 2rem;
}
#time {
    text-align:right;
    font-weight: bold;
    font-size:10rem;
    float:left;
    margin: 0;
    transition: all 2s;
}
body.time #time{
  font-size: 20rem;
  margin-left: 16%;
  margin-top: 17%;
  margin-bottom: 20%;
}
#main #weather_img{
    width: 10rem;
    float:right;
    transition: all 2s;
}
body.time #main #weather_img{
  opacity:0;
}
.box {
  border: 2px solid white;
  width: 22rem;
  height: 22rem;
  font-size: 1.5rem;
  text-align: center;
  float: left;
  margin: 1rem;
}
.box-title {
  background: white;
  color: black;
  padding: .5rem 0;
  font-weight: bold;
}
.box-content {
  padding: 1rem 0;
}
.fitness table, .weather table{
  margin: auto;
}
.fitness table td:nth-child(2), .weather table td:nth-child(3) {
  text-align: left;
  padding-left: 1rem;
}
.weather table td:nth-child(2) {
  text-align: right;
}
.weather img{
  width:27px;
}
.number{
  position: absolute;
  top:50%;
  left:50%;
  width:28rem;
  height:10rem;
  font-size: 10rem;
  transform: translate(-50%, -50%);
}
.progress{
  position: absolute;
  top:calc(100% - 1rem);
  left:0;
  width:0%;
  height:1rem;
  background: white;
  transition: all 1s;
  transition-timing-function: linear;
}